@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS (if not using JIT mode) */
body {
  overflow-x: hidden;
}


/* Add this custom style in your global CSS file */
.shadow-3d {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  }

  
  .font-cambria {
    font-family: 'Cambria', serif;
  }
  
  .container {
    @apply flex justify-center items-center h-screen bg-cover max-w-none;
    background-image: url('./assets/bg-image-stocks.jpg');
  }

  @media (max-width: 768px) {
    .container {
      height: auto; /* Adjust the height dynamically based on screen size */
    }
  }
  
  .navigation-box {
    @apply bg-white bg-opacity-70 p-4 rounded w-[300px];
  }
  
    